.slider-container {
  max-width: 1500px;
  padding: 0 30px;
  margin: 0 auto;
  width: 100%;
  max-height: 310px;
}

.slide-content {
  text-align: center;
  max-width: 150px;
  height: 310px;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.slick-track {
  margin: 0;
  padding: 0;
  height: 310px;
}

.slick-list {
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
  max-height: 310px;
}

.slider-image {
  width: 150px;
  height: 200px;
}
.slick-slider {
  max-width: 1440px;
  width: 100%;
  padding: 0 20px;
  margin: 0;
}

.slick-slide {
  margin: 0;
  padding: 0;
}

.image-title {
  margin-top: 10px;
  font-weight: bold;
}

.image-genre {
  color: gray;
}

.image-title {
  margin-top: 10px;
  font-weight: bold;
  transition: color 0.3s, font-size 0.3s;
}

.slick-arrow  {
  justify-content: space-between;
  align-items: center;
  width: 40px;
  margin: auto auto;
  height: 80px;
  border-radius: 8%;
}


.slick-prev,
.slick-next {
  background-color: rgb(50, 49, 49);
  border: none;
  color: rgb(24, 23, 23);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.slick-prev:hover,
.slick-next:hover {
  background-color: rgb(69, 67, 67);
  color: rgb(14, 11, 11);
}

.image-title:hover {
  color: #4040bb;
  font-size: 12px;
}